
/* ==============================================
            GLOBAL BASE STYLES / HOME PAGE STYLES
   ==============================================*/




.container{
    max-width: 1200px;
    margin:0 auto;
}


body{
    color:var(--neutral-0);
    font-family: var(--font-family);
}


.hero__section{
    display:grid;
    
    height:100vh;
   
  
    
       
       .hero__content{
      place-self: center;
        text-align: center;

        .hero__title{
            
            
            font:var(--font-1);
            letter-spacing: var(--font-1-letter-spacing);
            margin-bottom: 1rem;
        }
        .hero__description{
            font:var(--font-3-light);
            letter-spacing: var(--font-3-letter-spacing);
            margin-bottom: 1rem;
        }
        .hero__text{
            font:var(--font-6);
            letter-spacing: var(--font-6-letter-spacing);
            margin-bottom: 1rem;
        }
    }
    .hero__content,
    .image__hero{
        grid-area: 1/1;
    }
}
